{% extends "layout.html" %} {% block content %}
<h1><center>Login</center></h1>
<div class="container">
    <form method = 'POST' action='/logintry'>
        <center>Username:</center>
        <center>
            <input type="text" name="user" size="14"/>
        </center>
        <center>Password:</center>
        <center>
            <input type="password" name="password" size="14"/>
        </center>
        <center>
            <input type="submit" value='Submit'>
        </center>

    </form>
    <p><center>{{feedback}}</center></p>
    <br />

</div>
<p>
    <center>If you do not already have a login you can create one <a class="active" href="/createAccount">here</a></center>
</p>
{% endblock %}